
 <!--
  todo/fix: make sure passwords get escaped/masked 
<h3>ActiveRecord Configurations</h3>

<pre>
  ActiveRecord::Base.configurations:
  <%#= ActiveRecord::Base.configurations.inspect %>
</pre>
-->


<h3>Named Route Helpers</h3>

<pre>
  root_path:    <%= root_path %>
</pre>


<%= erb :'shared/_debug' %>
